.contentHome {
    display: table;
    /* background-color: rgba(255, 255, 255, 0.95); */
    margin-top: 8rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    width: 100%;
    min-height: 50%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.951);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background: url('./images/OptD.JPG') fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}


.contentHome p:first-child, h1 {
    display:inline-flexbox;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.932);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}

.contentHome p:nth-child(3) {
    display:inline-flexbox;
    font-size: 1.5rem;
    margin-top: 4rem;
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}

.contentHome p:nth-child(5) {
    display:inline-flexbox;
    font-size:  2rem;
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}

.contentHome p:nth-child(6) {
    display:inline-flexbox;
    font-size:  2rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}

.contentHome p:nth-child(7) {
    display:inline-flexbox;
    font-size:  2rem;
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}
.contentHome p:nth-child(8) {
    display:inline-flexbox;
    font-size:  2rem;
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}


.buttonHome {
    text-align: center;
    margin-top: 3%;
}

.contentHome .button {
    padding: 10px 50px;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: rgb(72, 75, 75);
    border: solid 2px;
    text-transform: capitalize;
}

.contentHome .button:hover {
    color: #ffffff;
    border-color: rgb(72, 75, 75);
    border: solid 2px;
    background-color: rgb(75, 75, 75);
}


/* @media screen and (max-width:940px) {
    .cover .content p:nth-child(1) {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }

    .cover .content p:nth-child(2) {
        font-size: 1.3rem;
    }

    .cover .content p:nth-child(3) {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .cover .content p:nth-child(4) {
        font-size: 0.7rem;
    }

    .cover .button {
        width: 300px;
    }

    
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 815px) {
    .cover .button {
        width:300px;
    }
} 


@media only screen and (min-width: 300px) {
    .cover .button {
        width:200px;
    }
} 

@media only screen and (max-width: 300px) {
    .cover .button {
        margin-left: 3.5rem;
        width:150px;
    }

} */