.Footer {
  display: table;
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 1vh;
  width: 100%;
  min-height: 50%;
  max-height: 100%;
}


.SecuritySeal{
  display: inline-block;
  text-align: right;
}

.SecuritySeal img {
  height: 40px;
  margin-left: 5%;
}

  .Footer-col2 p {
    display: table-cell;
    color: rgb(0, 0, 0);
    font-weight: 100;
  }

  .creator {
    display: table-cell;
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-align: right;
  }


  .Footer_Icon {
/* display: inline-block; */
display:grid;
text-align: right;
margin-right: 5rem;
  }

  .Footer_Icon a {
    color: rgb(0, 0, 0);
    font-size: x-large;
    opacity: 0.7;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .Footer_Icon a:hover {
    color: rgb(143, 142, 142);
  }

/* @media screen and (max-width:2100px) {
  .Footer {
    height: 15vh;
  }

  .Footer_Icon a {
    font-size: large;
  }
  .creator {
    font-size: large;
    margin-right: 2rem;
    text-align: center;
  }
  
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 900px) {
  .creator {
    font-size: medium;
    margin-right: 2rem;
    text-align: center;
  }
  .Footer_Icon a {
    font-size: xx-large;
  }
  .Footer-col2 p {
    font-size: medium;
  }
}  */

/* 
@media only screen and (max-width: 500px) {
  .Footer {
   height: 100%;
  }
  .creator {
    font-size: small;
    margin-bottom: 1rem;
  }
  .Footer_Icon a {
    font-size: small;
  }
  .Footer-col2 p {
    font-size: small;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
}  */


