/* .Footer {
  display: table;
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 1vh;
  width: 100%;
  min-height: 50%;
  max-height: 100%;
} */


/* .SecuritySeal{
  display: inline-block;
  text-align: right;
} */

/* .SecuritySeal img {
  height: 40px;
  margin-left: 5%;
} */

  /* .Footer-col2 p {
    display: table-cell;
    color: rgb(0, 0, 0);
    font-weight: 100;
  } */

  .creator {
    display: table-cell;
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-align: right;
    margin-right: 1%;
  }


  .Footer_Icon {
/* display: inline-block; */
display:grid;
text-align: right;
margin-right: 5%;
  }

  .Footer_Icon a {
    color: rgb(0, 0, 0);
    font-size: large;
    opacity: 0.7;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .Footer_Icon a:hover {
    color: rgb(143, 142, 142);
  }


  .Footer {
    display: flex; /* Change to flex container */
    justify-content: space-between;
    align-items: center; /* Align children vertically */
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    width: 100%;
    min-height: 50%;
    max-height: 100%;
    font-size: medium;
  }
  
  .Footer-col2 {
    display: flex; /* Nested flex container */
    flex-direction: column; /* Arrange children vertically */
  }
  
.ofsteadApproval img {
  height: 80px;
}

.ofsteadApproval {
  width: 25%;
}



@media (min-width: 300px) and (max-width: 800px) {
/* For mobile optimization, having icon underneath the text instead of shifted to the left */
  .Footer_Icon {
display:grid;
text-align: right;
margin-right: 1rem;
  }
}

