.disable-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

.gallery {
    margin: 0;
    margin-top: 5.6rem;
    width: 100%;
}

.imgGal {
    max-width: 100%;
    height: auto; 
}

.container {
    max-width: 100%;
    max-height: 100%;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;  
}

.gallery .container {
    width: 90%;
    margin-top: 2rem;
    margin-left: 3rem;
    /* height: 100vh; */
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(255, 255, 255, 0.95);
    margin-bottom: 1rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);

}

.closeGal {
    position: absolute;
    top: 10px; /* Adjust the top and right values as needed */
    right: 10px;
    z-index: 9999; /* Ensure the close icon is above the image */
    color: rgb(0, 0, 0); /* Set the color to ensure visibility */
    font-size: large;
    padding: 4px; 
    border-radius: 50%; 
}

.prevGal {
    color: rgb(0, 0, 0);
    font-size: large;
    padding: 4px; 
    border-radius: 50%; 
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust as needed */
    transform: translateY(-50%);
}

.forwGal {
    color: rgb(0, 0, 0);
    font-size: large;
    padding: 4px; 
    border-radius: 50%; 
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
}

/* .backgroundGal {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    position: absolute;
    display: flex;
    justify-content:  center;
    align-items: center;
    overflow: hidden;
    min-height: 100%;
} */

.backgroundGal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9); /* Add background color with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  

@media (max-width: 500px) {
    .gallery .container {
        display: grid;
        min-height: auto;
        margin-top: 40%;
        margin-bottom: 40%;
        margin-left: 5%;
    }

    img {
        width: max-content; /* Set the width to 100% for mobile screens */
        height: max-content;
      }
      
  }