:root {
  --primary-color: #000000;
  --primary-dark: #930000;
  --secondary-color: #000000;
  --secondary-dark: #b51688;
  --overlay: rgb(0,0,0,.7);
  
}

body {
  min-height: 100%;
  background: url('./components/images/OptB.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

@media only screen and (max-width: 767px) {
  body {
     background-image: url('./components/images/OptB.jpg');
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: rgb(237, 233, 233); /* ! colour for all backgground */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 10px 28px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 8%;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}

.line2 {
  display: block;
  width: 80%;
  height: 2px;
  margin: 10px auto;
  background-color:  rgba(0, 0, 0, 0.212);
}

.line3 {
  display: block;
  border-style:inset;
  width: 40%;
  height: 5px;
  margin: 10px auto;
  background-color:  rgba(15, 15, 15, 0.137);
}

.errorwarn {
  display: inline-block;
  background-color: rgba(255, 255, 0, 0.781);
}

.linebreak {
  display: block;
  margin-top: 0.5rem;
}

